.weather-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 4px;
  width: 100%;
  height: 100px;
}

.weather-container img {
  width: 70px;
  fill: var(--base-text-color-l);
  color: var(--base-text-color-l);
}

.weather-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-tem {
  font-size: 30px;
  font-weight: 500;
}

.weather-city {
  opacity: .6;
}
