.container {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: var(--height-header) calc(100vh - var(--height-header));

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
