.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.6em 0.5em 0.6em 0.8em;
}

.card-btn-add {
  padding: 0.6em;
  width: 100%;
  background-color: transparent;
  color: rgb(92, 92, 92);
  border: 0;
  border-radius: var(--radius-medium);
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  transition: background linear 0.2s;
}

.card-btn-add:hover {
  background-color: var(--bg-color-dark-hover);
  color: rgb(var(--base-text-color-d));
  cursor: pointer;
}

.textarea-add-task {
  margin-right: 0.4em;
  padding: 0.6em;
  width: 100%;
  border: 0px;
  border-radius: var(--radius-medium);
  outline: none;
  font-size: 1rem;
  resize: vertical;
}
