.task {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.6rem;
  padding: 0.6rem 0.4rem;
  width: 100%;
  min-height: 2rem;

  background-color: var(--bg-color-task);
  border-radius: var(--radius-small);
  box-shadow: var(--shadow-card);

  transition: box-shadow linear 0.2s, background linear 0.2s;
  cursor: pointer;
  z-index: 0;
}

.task:last-child {
  margin-bottom: 0;
}

.task:hover {
  background-color: var(--bg-color-task-hover);
  box-shadow: var(--shadow-card-up);
}

.task-pen {
  display: none;
  position: absolute;
  padding: 3px 6px;
  top: 3px;
  right: 6px;
  border-radius: var(--radius-small);

  transition: background linear 0.2s;
}

.task-pen:hover {
  background-color: var(--bg-color-dark-hover);
  cursor: pointer;
}

.task:hover > .task-pen {
  display: block;
}

.task-main {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  width: 100%;

}

.task-title,
.task-input {
  margin-left: 10px;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
}

.task-input {
  width: calc(100% - 30px);
  background-color: transparent;
  border: 0px;
  outline: none;
}