.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: auto;
}

.login-title {
  margin: 70px 0 30px;
  color: rgb(var(--color-green));
  font-size: 60px;
  text-shadow: var(--shadow-up);
}