.card {
  display: flex;
  flex: none;
  flex-direction: column;

  margin: 10px 0 10px 15px;
  width: 300px;
  max-height: calc(100vh - var(--height-header) - 20px);

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: var(--shadow);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: var(--radius-medium);
  color: rgb(var(--base-text-color-d));

  font-size: 10px;
  font-weight: 500;

  transition: background-color linear 0.2s, box-shadow linear 0.2s;
}

.card:hover {
  background-color: var(--bg-color-table-hover);
  box-shadow: var(--shadow-up);
}