.card {
  position: relative;
  display: block;
  flex: none;
  flex-direction: column;
  margin: 10px 0 10px 15px;
  width: 300px;
  max-height: calc(100vh - var(--height-header) - 20px);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: var(--shadow);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: var(--radius-medium);
  color: rgb(var(--base-text-color-d));
  font-size: 10px;
  font-weight: 500;
  isolation: isolate;
  z-index: 2;
  transition: background-color linear 0.2s, box-shadow linear 0.2s;
}

.card:hover {
  background-color: var(--bg-color-table-hover);
  box-shadow: var(--shadow-up);
}

.card-main {
  padding: 0.5em 0.6em 0.8em 0.6em;
  margin-right: 0.3rem;
  height: calc(100% - 50px);
  overflow-y: auto;
  z-index: 1;
}

.card-main::-webkit-scrollbar {
  width: 8px;
}

.card-main::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
}

.card-main::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.4);
}
