.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 4px;
  justify-self: center;
  align-self: center;
  padding: 4px;
  width: 100%;
}

.aside-min .calendar-container {
  display: none;
}

.calendar-today {
  display: none;
}

.aside-min .calendar-today {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--bg-color-table-01);
  border-radius: var(--radius-small);
  transition: background linear 0.2s;
  cursor: pointer;
}

.calendar-today:hover {
  background-color: transparent;
}

.grid-center {
  justify-self: center;
  align-self: center;
}

.prev-month,
.next-month {
  grid-column: span 1;
  width: 100%;
  height: 100%;
  border-radius: var(--radius-small);
  text-align: center;
  transition: background linear 0.2s;
  cursor: pointer;
}

.prev-month:hover,
.next-month:hover {
  background-color: var(--bg-color-table);
}

.month-name {
  grid-column: span 5;
}

.day-short {
  font-weight: 300;
  opacity: 0.6;
}

.day-off {
  font-weight: 500;
  color: rgb(125 125 243);
}

.day-holiday {
  font-weight: 500;
  color: rgb(255, 0, 0);
}

.day-num {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-table-01);
  border-radius: var(--radius-small);
  transition: background linear 0.2s, transform linear 0.2s;
  cursor: pointer;
}

.day-num:hover {
  background-color: var(--mask-color-dark02);
  transform: scale(1.25);
}

.empty {
  background-color: transparent;
}

.day-today {
  color: rgb(255, 192, 15);
  font-weight: 700;
}
