.aside-section {
  padding: 10px;
  border-bottom: 1px solid var(--color-line);
}

.aside-section:nth-child(2) {
  margin-top: 25px;
}

.aside-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
  padding: 3px;
  border-radius: var(--radius-small);

  transition: background linear 0.2s;
}

.aside-svg {
  display: none;
  margin-left: 5px;
  max-width: 40px;
  width: 50%;
}

.aside-min .aside-svg {
  display: block;
}

.aside-min .aside-title {
  display: none;
}